[flake8]
exclude =
    .git,
    __pycache__,
    migrations,
    src,
    local.py
max-line-length = 120
statistics = True
import-order-style = pep8
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
ignore: Q001, W503, W504
